"*":
  "atom-autocomplete-php": {}
  "atom-beautify":
    general:
      _analyticsUserId: "fb02f392-51d8-4fb8-a6c4-abaa7137f564"
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  core:
    disabledPackages: [
      "linter-phpcs"
      "php-cs-fixer"
      "linter-phpmd"
    ]
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    invisibles:
      cr: " "
      eol: " "
      space: "."
      tab: "⇥"
    showIndentGuide: true
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "c3ba260d-1d6f-0a2a-e225-4cb1984560bf"
  linter: {}
  "linter-php": {}
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    useGitHubStyle: true
  welcome:
    showOnStartup: false
